@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://rsms.me/inter/inter.css');

    
    /* 상단 navbar */
    .navStyle {
        background-color: #040A04;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: fixed;
        width: 1920px;
        height: 83px;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
    }
    
    .liStyle {
        display: inline;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin-left: 57px;
        margin-right: 114px;
    }

    /* liLogin */
    .liLogin {
        display: inline;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-left: 271px;
        margin-right: 57px;
    }

    .underLine {
        text-decoration-line: none;
        color: #ADADAD;
    }
    .underLogin {
        text-decoration-line: none;
        color: #FFFFFF;
    }
  
    /* panel */
    .panel {
        position: absolute;
        left: 0px;
        top: 83px;
    }
    .panel > img {
        width: 100%;
    }
    .panelText {
        position: absolute;
        width: 558px;
        height: 120px;
        left: 992px;
        top: 80px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 100;
        font-size: 40px;
        line-height: 60%;
        text-align: right;
        color: #F0F0F0;
    }

    /* 칵테일 제조 버튼 */
    .produceBtn {
        box-sizing: border-box;
        position: absolute;
        width: 280px;
        height: 73px;
        left: 1270px;
        top: 330px;
        background-color: #0A0603;
        border: 2px solid #D7D7D7;
        color: #D7D7D7;
        text-decoration: none;
        text-align: center;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 65px;
    }

    /* 검색 바 */
    .searchBar{
        box-sizing: border-box;
        position: absolute;
        width: 780px;
        height: 64px;
        left: 570px;
        top: 664px;
        border: 1px solid #ADADAD;
        border-radius: 40px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }


    /* 칵테일 Card View */
    .cardBox {
        float: left;
        position:relative !important;
        border: 1px solid rgb(0, 0, 0);
        margin-bottom: 75px;
        margin-right: 100px;
      }
      
      .thumbnail {
        width: 200px;
        height:200px;
        display: block; 
        margin: 0px auto;
      }
   
      .titleKr {
        text-align: center;
        z-index: 2;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #000000;

      }
      .titleEng {
        text-align: center;
        z-index: 2;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #6F6F6F;
      }

      /* 더 알아보기 버튼 */
    .contentsBtn {
        position: absolute;
        width: 328px;
        height: 80px;
        left: 796px;
        top: 1647px;
        background-color: #040A04;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 80px;
    }

    /* hr line */
    .hrLine {
        position: absolute;
        width: 1440px;
        height: 0px;
        left: 300px;
        top: 1818px;

        border: 1px solid #C8C8C8;
    }


    /* footer */
    .copyright {
        position: absolute;
        width: 1920px;
        height: 165px;
        left: 0px;
        bottom: -1080px;
        background: #040A04;
        text-align : center;
    }
    .copyright > img {
        width: 40%;
        margin-top: 60px;
    }

